variables:
  artifactName: ms-rest-js
  msRestJsPackageName: azure-ms-rest-js.tgz
  msRestAzureArtifactName: ms-rest-azure-js
  msRestAzureJsPackageName: azure-ms-rest-azure-js.tgz
  tempDirectory: $(Pipeline.Workspace)/.tmp
  vmImage: 'Ubuntu 16.04'

jobs:
- job: prepare_ms_rest_js
  pool:
    vmImage: $(vmImage)
  steps:
  - script: 'npm pack'
    displayName: 'npm pack'
  - script: 'mv azure-ms-rest-js-*.tgz $(msRestJsPackageName)'
    displayName: 'rename artifact'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: $(artifactName)
      targetPath: $(msRestJsPackageName)

- job: test_ms_azure_rest_js
  dependsOn: prepare_ms_rest_js
  pool:
    vmImage: $(vmImage)
  variables:
    repoDir: '$(tempDirectory)/ms-rest-azure-js'
  steps:
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: $(artifactName)
      targetPath: $(System.DefaultWorkingDirectory)
  - script: 'mkdir $(tempDirectory)'
    displayName: 'mkdir $(tempDirectory)'
  - script: 'git clone https://github.com/Azure/ms-rest-azure-js.git ms-rest-azure-js --depth 1'
    workingDirectory: $(tempDirectory)
    displayName: "clone ms-rest-azure-js"
  - script: 'npm pack'
    workingDirectory: $(repoDir)
    displayName: 'npm pack'
  - script: 'npm install $(Build.SourcesDirectory)/$(msRestJsPackageName)'
    workingDirectory: $(repoDir)
    displayName: 'npm install @azure/ms-rest-js'
  - script: 'npm run test'
    workingDirectory: $(repoDir)
    displayName: "npm run test"
  - script: 'mv azure-ms-rest-azure-js-*.tgz $(msRestAzureJsPackageName)'
    workingDirectory: $(repoDir)
    displayName: 'rename artifact'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: $(msRestAzureArtifactName)
      targetPath: '$(repoDir)/$(msRestAzureJsPackageName)'

- job: test_autorest_typescript
  dependsOn: [prepare_ms_rest_js, test_ms_azure_rest_js]
  pool:
    vmImage: $(vmImage)
  variables:
    repoDir: '$(tempDirectory)/autorest.typescript'
  steps:
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: $(artifactName)
      targetPath: $(System.DefaultWorkingDirectory)
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: $(msRestAzureArtifactName)
      targetPath: $(System.DefaultWorkingDirectory)
  - script: 'mkdir $(tempDirectory)'
    displayName: 'mkdir $(tempDirectory)'
  - script: 'git clone https://github.com/Azure/autorest.typescript.git autorest.typescript --recursive --depth 1'
    workingDirectory: $(tempDirectory)
    displayName: "clone autorest.typescript"
  - script: 'npm install --verbose'
    workingDirectory: $(repoDir)
    displayName: "npm install"
  - script: 'npm install $(Build.SourcesDirectory)/$(msRestJsPackageName)'
    workingDirectory: $(repoDir)
    displayName: 'npm install @azure/ms-rest-js'
  - script: 'npm install $(Build.SourcesDirectory)/$(msRestAzureJsPackageName)'
    workingDirectory: $(repoDir)
    displayName: 'npm install @azure/ms-rest-js'
  - script: 'gulp build'
    workingDirectory: $(repoDir)
    displayName: 'gulp build'
  - script: 'gulp regenerate'
    workingDirectory: $(repoDir)
    displayName: 'gulp regenerate'
  - script: 'gulp test'
    workingDirectory: $(repoDir)
    displayName: 'gulp test'
